%tr
  %td= contact.first_name
  %td= contact.last_name
  %td= link_to 'Show', contact
  - if user_signed_in?
    %td= link_to 'Edit', edit_contact_path(contact)
    %td= link_to 'Destroy', contact, :confirm => 'Are you sure?', :method => :delete
