%h1 Listing contacts

= form_tag(search_contacts_path, :method => "get") do
  = label_tag :keyword, t("search_for")
  = text_field_tag :keyword
  = submit_tag t("search_for")
  

%table#matable
  %tr
    %th First name
    %th Last name
    %th
    %th
    %th

  = render @contacts

= link_to "J'en veux plus", "javascript:", {:id => "more_contacts"}

%br

= link_to 'New Contact', new_contact_path
