!!!
%html
  %head
    %title TourneurFormation
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if flash[:notice].present?
      .notice= flash[:notice]

    - if flash[:error].present?
      .notice= flash[:error]

    - if flash[:alert].present?
      .notice= flash[:alert]
    
    %ul
       
      - if user_signed_in?
        %li= "Hello #{current_user.nickname}"
      = render "devise/menu/registration_items"
      = render "devise/menu/login_items"
        
    
    = yield
